<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing"  >
    <listeners>
        <listener class-name="Utilities.Listeners" />
    </listeners>
    <test name="Framework Testing" >
        <classes>
        </classes>
    </test>
</suite>